a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  .color-scheme {
    background-color: green;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  .color-scheme {
    background-color: blue;
    color: black;
  }
}

.color-scheme {
  background-color: aliceblue;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.test:hover {
  background-color: green;
}
